@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');


  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         font-family: 'Montserrat', sans-serif;
        font-size: 100%;
        color: #000000c0;
        line-height: 1.5;
    }

    .content {
        background-color: #FFF;
        width: 720px;
        padding: 20px;
        margin: 20px auto 0 auto;
        box-shadow: 0px 6px 10px;
        border-radius: 5px;
    }

    .row {
        padding: 5px;
        margin-top: 5px;
    }

    .buttons {
        text-align: center;
    }

    fieldset {
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        border-color: #c2cbce;
        box-shadow: 2px 2px 2px #c2cbce;
    }

    legend {
        font-size: 2rem;
        font-weight: bold;
       font-family:'Montserrat', sans-serif;
      color:#926d48;
    }

    label:not([for="casado"], [for="solteiro"], [for="java"], [for="php"], [for="csharp"]) {
        width: 120px;
    }

    input {
        padding: 2px;
        outline: none;
    }

    input[id="nome"],
    input[id="sobrenome"],
    input[id="email"] {
        width: 480px;
    }

    input[id="dtnasc"] {
        width: 180px;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    input[type="email"] {
        border: none;
        border-bottom: 2px solid #c2cbce;
        transition: 0.3s all ease-in-out
    }

    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus {
        color:  #926d48;
        font-weight: 600;
        letter-spacing: 1px;
        border-color:  #926d48;
    }

    textarea {
        padding: 10px;
        resize: none;
        outline: none;
        width: 100%;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="submit"],
    input[type="reset"] {
        padding: 5px 10px;
        background-color: #926d48;
        border: none;
        border-radius: 5px;
        color: #fff;
        transition: 0.3s all ease-in-out;
    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {
        transform: scale(1.2);
    }

    label[for="java"],
    label[for="csharp"],
    label[for="php"] {
        border: 1px solid #040004;
        border-radius: 5px;
        padding: 10px 15px;
        font-weight: 600;
        margin: 10px 0 10px 0;
        display: inline-block;
        transition: 0.3s all ease-in-out
    }

    

   
  
    body {
        background: #f5f5dc;
    }
b{
  position: rigth;
  margin-right: 20px;
  text-align: right;
  color:#926d48;
}



p{
   margin-top: 15px;
}



.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .8rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    
}

.input-box label,
.gender-title h6 {
    color: black;

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.wrapper {
  padding: 30px;
}



.wrapper {
  padding: 30px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}



.form-group label {
  padding-left: 10px;
  cursor: pointer;
}

.label label{
   padding-left: 10px;
   margin-bottom: 10px;
  text-align: justify;
}

.buttons {
    margin-bottom: 20px;
}

.history{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 680px;
}

.informacoes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
    margin: 20px;
}

.informacoes > p {
    margin: 0;
}

.informacoes > p:nth-child(2),
.informacoes > a {
    align-self: center;
}

.informacoes > a {
    font-weight: bold;
    color: #926d48;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main > div:nth-child(1) {
    width: 45%;
}

main > div:nth-child(2) {
    width: 47%;
}