{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link rel="shortcut icon" href="https://i.imgur.com/2heDwe3.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="https://i.imgur.com/qHziju3.png" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Faça Seu Agendamento</h1>
                    </div>

                </div>


                    <label for="data"><h6 style="margin-top: 0.2px">Data:</h6></label>
<input id="data" type="date" name="data">

    <label for="hora"><h5>Hora:</h5></label>
<input id="hora" type="time" name="hora">


      <legend><h6>Serviço(s):</h6></legend>
      <p><input id="mani" type="checkbox" name="serviço" value="manicure" /><label for="musc"><b>R$20</b>Manicure </label><br/></p>

    <p><input id="pedi" type="checkbox" name="serviço" value="Pedicure" /><label for="musc"><b>R$25</b>Pedicure </label><br/></p>

  <p><input id="pent" type="checkbox" name="serviço" value="Penteado" /><label for="musc"><b>R$68</b>Penteado</label><br/></p>

  <p><input id="corte" type="checkbox" name="serviço" value="Corte de cabelo" /><label for="musc"><b>R$35</b>Corte de cabelo </label><br/></p>

 <p><input id="sobrancelha" type="checkbox" name="serviço" value="Design de sobrancelha" /><label for="musc"><b>R$30</b>Design de sobrancelha </label><br/></p>

  <p><input id="cera" type="checkbox" name="serviço" value="Depilação com cera" /><label for="musc"><b>R$45</b>Depilação com cera </label><br/></p>

      <p><input id="pele" type="checkbox" name="serviço" value="Limpeza de pele" /><label for="musc"><b>R$80</b>Limpeza de pele </label><br/></p>
               <div
     class="campo">
        <br>
      <label for="experiencia"><h3>Alguma observação para o atendimento?</h3></label>
      <textarea rows="6" style="width: 26em" id="experiencia" name="experiencia"></textarea>
    </div>

                         <div class="continue-button">
                    <button><a href="">Finalizar</a></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>