{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/agend.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/2heDwe3.png" type="image/x-icon">
    <title>Agendamento</title>
</head>

<body>

    <header>
        <main>
            <div>
                <img src="https://i.imgur.com/3uy9MEM.png">
            </div>
            <div>
                <a href="http://viniboy.pythonanywhere.com/"><img src="https://i.imgur.com/SJkJT7z.png"></a>
            </div>

            <div>
                <img src="https://i.imgur.com/ulYMAIC.png">
            </div>
            
        </main>
    </header>
    <div class="content">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Agendamento</legend>
                <div class="row">
                    <label for="nome">Nome</label>
                    {{agendform.nome}}
                </div>
                <div class="row">
                    <label for="sobrenome">Sobrenome</label>
                    {{agendform.ultimo_nome}}
                </div>
                <div class="row">
                    <label for="number">Celular</label>
                    {{agendform.celular}}
                </div>
                <div class="row">
                    <label for="data">Data do atendimento</label>
                    {{agendform.data}}

                    <div class="row">
                        <label for="hora">Hora</label>
                        {{agendform.hora}}

            </fieldset>

            <legend>Serviços</legend>

            <!-- <div>
                <div class="gender-inputs">
                    <div class="gender-title">
                        <p>Pacotes (opcional)</p>
                    </div>

                    <div class="gender-group">
                        <div class="gender-input">
                            <input id="female" type="radio" name="gender">
                            <label for="female">Prata</label>
                        </div>

                        <div class="gender-input">
                            <input id="male" type="radio" name="gender">
                            <label for="male">Bronze</label>
                        </div>

                        <div class="gender-input">
                            <input id="others" type="radio" name="gender">
                            <label for="others">Ouro</label>
                        </div>

                        <div class="gender-input">
                            <input id="none" type="radio" name="gender">
                            <label for="none">Diamante</label>
                        </div>
                    </div>
                </div>
            </div>
 -->
            <br>
            <div class="label">
                <fieldset>
                    {% for s in servicoform %}
                    <p><input type="checkbox" id="{{s.id}}" name="servico-{{s.id}}"> <b>R${{s.valor}}</b>{{s.servico}}</p>
                    {% endfor %}
            </div>
            <div class="row">
                <label for="sobre">Alguma observação para o atendimento? </label>
            </div>
            <div class="row">
                {{agendform.comentario}}

                <!--                         <textarea name="sobre" id="sobre" cols="30" rows="5" placeholder="Descreva suas observações"
                            autocomplete="off"></textarea>-->
            </div>

            <div class="buttons">
                <input type="submit" value="Enviar">
            </div>

            <legend>Seus agendamentos</legend>
            <div class="history">
                {% if history %}
                {% for c in history %}
                <div class="informacoes">
                    <p>
                        {{c.data}}
                    </p>
                    <p>
                        {{c.hora}}
                    </p>
                    <a href="{% url 'edit_coment' c.id %}">[EDITAR]</a>
                    <a href="{% url 'agend_delete' c.id %}">[DELETAR]</a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
</body>
    <script>
        
        function regex_nome(evento){
            const padrao = /[A-Z, a-z, '', á, é, í, ó, ú, ã, õ, â, ê, ô]/
            var tecla = evento.key
            if(!padrao.test(tecla)){
                return evento.preventDefault()
            }
        }
        
        function regex_cel(evento){
            const padrao = /[0-9]/
            var tecla = evento.key
            if(!padrao.test(tecla)){
                return evento.preventDefault()
            }
            let txt = document.getElementById('id_celular')
            if(txt.value.length==5){
                txt.value += "-"
            }
        }

        
    </script>

</html>