{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça o seu login no Cuttie Cuts</title>
  <link rel="shortcut icon" href="https://i.imgur.com/2heDwe3.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <header><a href="http://viniboy.pythonanywhere.com/"><img src="https://i.imgur.com/SJkJT7z.png"></a></header>
    <main>
        <h1>Login</h1>
        <form method="post" action="/dologin/">
            {% csrf_token %}
            <label for="email">
                <span>Usuario</span>
                {{userform.usuario}}
            </label>

            <label for="password">
                <span>Senha</span>
                {{userform.senha}}
            </label>

        <input type="submit" class="btn btn-success" value="entrar">
        </form>
        <div class="auth__after-btn u-text--center"><a href="/esqueci-senha/" title="Redefinir senha">Esqueci minha senha</a></div>

        <div class="auth__after-footer">Ainda não tem conta? <a href="/cadastro/">Cadastra-se</a></div>
    </main>
    <section class="images">

        <div class="circle"></div>
    </section>
</body>
</html>
