{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualize seu cadastro</title>
    <link rel="shortcut icon" href="https://i.imgur.com/2heDwe3.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>

    <header><a href="http://viniboy.pythonanywhere.com/"><img src="https://i.imgur.com/SJkJT7z.png"></a></header>
    <main>
        <h1>Olá {{uid.usuario}}, atualize aqui seu cadastro</h1>
        <form method="post" action="/doupdate/">
            {% csrf_token %}
            <label for="email">
                <span>Primeiro Nome</span>
                {{perfil.nome}}
            </label>

            <label for="password">
                <span>Último Nome</span>
                {{perfil.ultimo_nome}}
            </label>

            <label for="password">
                <span>Celular</span>
                {{perfil.celular}}
            </label>

            <input id= "salvar" type="submit" class="btn btn-success" value="Atualizar">
        </form>

    </main>
    <section class="images">
        
        <div class="circle"></div>
    </section>
    <script>
    function regex_cel(evento){
        const padrao = /[0-9]/
        var tecla = evento.key
        if(!padrao.test(tecla)){
            return evento.preventDefault()
        }
        let txt = document.getElementById('id_celular')
        if(txt.value.length==''){
            txt.value += "("
        }
        if(txt.value.length==3){
            txt.value += ")"
        }
        if(txt.value.length==9){
            txt.value += "-"
        }
    }

    function regex_nome(evento){
        const padrao = /[a-z, '', á, é, í, ó, ú, ã, õ, â, ê, ô]/
        var tecla = evento.key
        if(!padrao.test(tecla)){
            return evento.preventDefault()
        }
    }
    </script>
    
</body>
</html>
